@import "../color.scss";

cl{
    display: block;
    font-weight: bold;
    position: relative;
    a{
        color: #7e7e7e;
    }
    &::before{
        content: "";
        position: absolute;
        top:0px;
        width: 30px;
        border-top: 3px solid #efb730;
    }
}
video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    info{
        display: flex;
        align-items: center;
        vi{
            small{
                margin-right: 5px;
                color : #9b9b9b;
            }
            b{
                color : #363636;
            }
            font-weight: bold;
            font-size: 13px;
            padding: 2px;
            margin: 0 3px;
            display: flex;
            align-items: center;
            svg{
                font-size:20px;
            }
        }
    }
   
}
userController{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn{
        margin: 5px 5px;
        padding: 5px;
        min-width: 100px;
        background-color: #e24515;
        border-radius: 5px;
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
        color: #fff;
        border: 1px solid #e24515;
        &:disabled{
            background-color: #a1938f;  
            border: 1px solid #a1938f;
            cursor: not-allowed;
            &:hover{
                background-color: #a1938f;  
            }
        }
        &:hover{
            background-color: #ee5324;  
        }
        svg{
            margin-right: 3px;
            
        }
    }
    
}
user-comment{
    display: block;
    margin: 5px 0;
    comment-write{
        display: block;
        position: relative;
        writer{
            strong{
                font-size: 13px;
            }
            position: absolute;
            top : 5px ;
            right: 5px;
            z-index: 1;
            font-size: 12px;
        }
       
    }
}
.board_detail_wrap{
    width: 100%;
    padding: 10px;
    max-width: 1100px;
    margin: 25px auto;
    border: 2px solid $mushroom;
    min-height: 100vh;
    border-radius: 5px;
    h1{
        border-bottom:2px solid rgba($mushroom , 0.85);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 5px;
    }
    .board_body{
        margin: 0 auto;
        .images{
            img{
                max-width: 100%;
            }
        }
        .board_video{   
            width: 100%;
            height: 100%;  
            min-height: 530px;     
            position: relative;
            .iframeVideo{
                position: absolute; 
                top:0;
                width: 100%;  
                height: 100%;
            }
            
        }
        .video_error{
            position: absolute; 
            top:0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color : #fff;
            z-index: 99;
            font-size: 23px;
            background-color: rgba(#000000 , 0.85);
        }
        .board_main{
            min-height: 350px;
            margin : 10px 0;
            p{
                margin: 0;
            }
            
        }
    }
}

pcon{
    display: inline-block;
    width: 38px;
    text-align: center;
    border:0;
    padding: 1px 0;
    color: #ffffff;
    white-space: nowrap;
    background-color: #6ba379;
    border-radius: 10px;
    font-size: 9px;
    margin: 0 2px;
}
.images_list{
    max-width: 1000px;
    margin: 5px auto;
    overflow-x: scroll;
    white-space:nowrap;
    padding: 5px 5px 10px; 
    border-radius: 10px;
    img{
        width: 100px;
        height: 100px;
        border: 3px solid #9b9b9b;
        margin: 2px;
        
    }
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: #1b0213;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 3.5px;
        background-color: #500438;
        &:hover {
            background-color: #6e0e50;
        }
    }
    &::-webkit-scrollbar-track {
    background: #ffffff;
    }
}
@media screen and (max-width: 540px){
    .board_detail_wrap{
        h1{
            font-size: 28px;
        }
        .board_body{
            .board_video{      
                min-height: 380px;     
                
              
            }
        }
    }
}
@media screen and (max-width: 500px){
    .board_detail_wrap{
        h1{
            font-size: 24px;
        }
        .board_body{
            .board_video{      
                min-height: 280px;     
                
              
            }
        }
    }
}
@media screen and (max-width: 420px){
    .board_detail_wrap{
        h1{
            font-size: 18px;
        }
        .board_body{
            .board_video{      
                min-height: 200px;     
                
              
            }
        }
    }
}