
.totalWeather_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .korea_weather{
       
        width: 500px;
        height: 100%;
        .weather_map{
            border-radius: 10px;
            svg{
                text{
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            .weather_map_top{
                background-color: #fff;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border:1px solid #bbb;
                padding: 15px 10px;
                margin: -5px -5px 5px;
                font-weight: bold;
                font-size: 21px;
                span{
                    margin-left: 20px;
                }
            }
        }
    }
    .weather_control{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        select{
            border : 0;
            padding: 10px;
            background-color: inherit;
            font-size: 16px;
            font-weight: bold;
           
            &:focus{
                outline: none;
            }
        }
    }
    .totalWeather{
        background-color: #fff;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        border: 3px solid #bbb;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .hourly_wrap{
            width: 100%;
            max-width: 950px;   
            border : 3px solid #eee;
            border-radius: 10px;
            margin-top: 10px;
            z-index: 3;
            .title{
                font-size: 16px;
                font-weight: bold;
            }
            .chartIcon{           
                display: flex; 
                position: absolute;
                bottom:15px;
                z-index: 0;
                img {
                    margin-left: 16.5px;
                    margin-bottom: 5px;
                    &:first-child{
                        margin-left: 0px;
                    }
                }
            }
        }
        .daily_wrap{
            width: 100%;
            margin-top:10px;   
            border : 3px solid #eee;
            border-radius: 10px;
            margin-top: 10px; 
            .title{
                font-size: 16px;
                font-weight: bold;
            }
        }
       
    }
    .total_weather_c1{
        display: flex;
        margin-bottom: 30px;
        max-width: 950px;
        width: 100%;
        justify-content: center;
        
        .sun_rise{
            border: 1px solid #bbb;
            border-radius: 10px;
            padding: 7px;
            .title{
                padding: 10px;     
                font-size: 18px;    
                font-weight: bold;
                border-bottom: 3px solid #bbb;
            }
        }
        .totalWeather_c1{
            margin-top: 15px;
            height: 100%;  
            padding: 10px;    
            border-radius: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 7px;
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
   
}
.weather{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin-top: 5px;
    width: 100%;
    justify-content: center;
    .weather_info, .icon{
        margin-top: 10px;
    }
    .weather_c2{
        margin-left: 5px;
        .updated{
            position: absolute;
            top:2px;
            left: 5px;
            .updated_head{
                font-size: 11px;
                font-weight: bold;
                padding-bottom: 2px;
            }
        }
        .weather_text{
            font-size: 13px;
            padding: 2px 0;
            font-weight: bold;
            color : #000;
        }
    }
}

@media screen and (max-width: 950px){
    .totalWeather_wrap{
        .totalWeather{      
            .hourly_wrap, .daily_wrap{
                max-width: 700px;
            } 
            
        }
    }
}
@media screen and (max-width: 850px){
    .totalWeather_wrap{
        .totalWeather{      
            .hourly_wrap, .daily_wrap{
                max-width: 700px;
            } 
            .total_weather_c1{
                flex-direction: column;
                .title{
                    background-color: inherit;
                    justify-content: center;
                    font-size: 23px;
                    border-bottom: 2px solid #eee;
                }
            }
        }
    }
}
@media screen and (max-width: 700px){
    .totalWeather_wrap{
        .totalWeather{      
            .hourly_wrap, .daily_wrap{
                max-width: 500px;
            } 
            
        }
    }
}
@media screen and (max-width: 500px){
    .totalWeather_wrap{
        .totalWeather{      
            .hourly_wrap, .daily_wrap{
                max-width: 320px;
            } 
        }
        .korea_weather{
            width: 100%;
        
            
        }
    }
}