.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table.table, table.control{
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;   
    
    thead{
        th{
            background-color: rgba(#e2e1e1, 1);
            padding: 10px 5px;
            color : #000;
            border-bottom: 1px solid #bbb;
        }
    }
    
    tbody{
        tr{
            position: relative;      
            cursor: pointer;
            .new{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            // &:hover{
            //     background-color: #eeeeee;
            // }
            td{
                // white-space: nowrap;
                // text-overflow: ellipsis;
                padding: 5px;
                border-bottom: 1px solid #bbb;
                text-align: center;
               
                .thumbnail{
                    max-width: 120px;
                    max-height: 90px;
                    border: 4px solid #ddd;
                    border-radius: 5px;
                }
                .updated{
                    display: flex;
                    flex-direction: column;
                    font-size: 9px;
                    color : #7e7e7e;
                }
            }
            &:nth-child(2n){
                background-color: #fcfcfc;
            }
            .link{
                color : #8b4f05;
                font-weight: bold;
                text-decoration: underline;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    table.control{
        font-size: 14px;
        thead{
            th{
              &:last-child{
                display: none;
                visibility: collapse;      
              }
            }
        }
        tbody{ 
            td{
                &:last-child{
                    display: none;
                    visibility: collapse;
                   
                } 
            }
        }
    }
}
@media screen and (max-width: 700px){
    table.control{
        thead{
            th{
              &:nth-last-child(2) {
                display: none;
                visibility: collapse;
                
              }
            }
        }
        tbody{ 
            td{
                &:nth-last-child(2) {
                    display: none;
                    visibility: collapse;
                    
                  } 
            }
        }
    }
}
@media screen and (max-width: 600px){
    table.control{
        thead{
            th{
                width: auto;
              &:nth-last-child(3) {
                display: none;
                // visibility: collapse;        
              
              }
            }
        }
        tbody{ 
            td{
                width: auto;
                &:nth-last-child(3) {
                    display: none;               
                    // visibility: collapse;  
                } 
                .thumbnail{
                    width: 80px;
                    height: 50px;
                    border: 4px solid #ddd;
                    border-radius: 5px;
                }
            }
        }
    }
}