comment{
    display: block;
    min-height: 100px;
    border-top : 1px solid #eee;
    margin: 5px 0;
    padding: 5px;
    position: relative;
    content{
        display: block;
        margin: 10px 0;
        p{
            margin: 0;
        }
    }
    profile{
        display: flex;
        align-items: flex-end;
        font-size: 12px;
        font-weight: bold;
        
        avatar{
            cursor: pointer;
            margin-right: 5px;
            display: flex;
            align-items: center;
            border-radius: 50%;
            justify-content: center;
            width: 35px;
            height: 35px;
            border: 1px solid #bbb;
            background-color: #eee;
            font-size: 9px;  
            font-weight: bold;
            img{
                padding :2px;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        info{
            display: flex;
            flex-direction: column;
            c{
                font-size: 10px;
                &:nth-child(2){
                    font-size: 13px;
                    color : #181010;
                }
                small{
                    margin-left: 5px;
                    color : rgba(#181010, 0.68)
                }
            }
        }
        
    }
    controller{
        display: block;
        position: absolute;
        top : 5px;
        right: 5px;   
        .btn{
            padding: 2px 5px;
            min-width: 45px;
            margin: 0 2px;
            background-color: #fff;
            border: 0;
            font-size: 13px;
            border-radius: 0;
            color : #000;
            font-weight: bold;
            cursor: pointer;
            &:hover{
               text-decoration: underline;
            }
        }
        .delete{
            color : #d61919; 
        }
       
    }
}
no-comment{
    display: block;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;  
    color : #747474;
}

.block{
    display: block;
}
.none{
    display: none;
}
.comment_more{
    position: absolute;
    top:25px;
    right: 0px;
    padding: 10px;
    border: 1px solid #bbb;
    z-index: 155;
    background-color: #fff;
    &:after, &:before {
        bottom: 100%;
        left: 80%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 8px;
        margin-left: -8px;
    }
    &:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #bbb;
        border-width: 9px;
        margin-left: -9px;
    }
}