@import "../color.scss";
.calendar_wrap{
    width: 100%;
    padding: 10px;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    .calendar_top{
        display: flex;
        align-items: center;
        justify-content: space-around;
        button{
            background-color: inherit;
            border:0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                color : $thatch;
            }
        }
        .current_date{
            font-size: 18px;
            font-weight: bold;
            display: flex;
            align-items: center;
            position: relative;
            svg{
                cursor: pointer;
            }
            .date_selector{        
                background-color: $mushroom;
                padding: 10px;
                position: absolute;
                top:35px;
                right:-5px;
                border-radius: 5px;
                &::before{
                    content: "";
                    position: absolute;
                    top:-10px;
                    right: 5px;
                    border-top:10px solid none;
                    border-bottom:10px solid $mushroom;
                    border-right: 10px solid transparent;
                    border-left: 10px solid  transparent;
                   
                }
                form{
                    display: flex  !important;
                    select{
                        border : 1px solid #eee;
                        background-color: $elephant;
                        color : white;
                        padding: 5px 10px;
                    
                        &:first-child{
                            border-right: 0;
                            margin-right: 2px;
                        }
                        &:focus{
                            outline: none;
                        }
                        &::-webkit-scrollbar{
                            width: 5px;
                            height: 0;
                        }
                        &::-webkit-scrollbar-track{
                            background-color: $elephant;
                        }
                        &::-webkit-scrollbar-thumb{
                            background-color: $mushroom;
                        }
                    }
                    input[type="submit"]{
                        border : 1px solid #eee;
                        background-color: $thatch;
                        color : white;
                        padding: 5px 10px;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .calendar_table{
        width: 100%;
        padding: 5px;
        border-collapse: collapse;
        thead{
            tr{
                background-color: $gunmetal;
                color:#fff;
                th{
                    padding: 10px;
                    border:1px solid #BBB;
                    &:first-child{
                        color:#c4302b;
                    } 
                    &:last-child{
                        color:#7ca7df;
                    } 
                }
            }
        }
        tbody{ 
            tr{
                position: relative;
                .selected{     
                    border :1px double #f06a1c;
                }
                td{     
                    height: 50px;  
                    border:1px solid #bbb;
                    &:first-child{
                        color:#c4302b;
                    } 
                    &:last-child{
                        color:#4B89DC;
                    } 
                    &:hover{
                        background-color: #e7e8f7;
                        cursor: pointer;
                    }
                    .date_day{
                        display: flex;
                        justify-content: flex-end; 
                        font-size: 20px;
                        .date{

                            &:hover{
                                color : #f06a1c;
                            }
                        }
                    }
                    .date_content{
                        width: 100%;
                        min-height: 150px ;
                        position: relative;
                        padding: 0;
                        margin: 0;
                        overflow: visible;
                        
                        .status{  
                            position: absolute; 
                            top: -20px;      
                            width:60%;
                            height: 20px;    
                            border-radius: 10px;
                            background-color: #133d74;
                            padding: 5px;
                            color : #fff;
                            font-size: 10px;
                            overflow: hidden;

                            display: flex;
                            align-items: center;
                          text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            &:hover{
                                background-color: #265694;
                            }
                        }
                       
                        .range_status{                                
                            padding: 2px 5px;                       
                            margin: 5px 0;  
                            width: 100%; 
                            height: 20px;       
                            float: left;  
                            clear: both;   
                            background-color: #0e4bbd; 
                            border-radius: 5px;
                            color: #fff ; 
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            font-size: 12px;
                              
                            cursor: cell;
                           
                            z-index: 9;
                            &::after{
                                content: "";
                                display: block;

                                clear: both;
                            }
                            span{
                                position: absolute;
                            }       
                        }
                        
                    }
            
                }
            }
        }
    }
   
    .grayed{
        color :#ccc;
    }
}

@media screen and (max-width: 930px){
    .calendar_wrap{
        .calendar_table{
            tbody{ 
                tr{
                    td{             
                        .date_content{
                           
                            .range_status{
                                width: 103%;
                            }
                        }
                
                    }
                }
            }
        }
        
    }
}
@media screen and (max-width: 720px){
    .range_status{                            
        
        font-size: 10px;        
    }
}
@media screen and (max-width: 650px){
    .calendar_wrap{
        .calendar_table{
            tbody{ 
                tr{
                    td{             
                        .date_content{
                           
                            .range_status{
                                width: 105%;
                            }
                        }
                
                    }
                }
            }
        }
        
    }
}

@media screen and (max-width: 560px) {
    .calendar_wrap{
        .calendar_table{
            tbody{ 
                tr{
                    td{             
                        .date_content{
                            height: 50px;
                            .status{          
                                white-space: nowrap;
                                width: 20px;
                                height: 20px;
                                overflow: hidden;
                                border-radius: 50%;
                                text-overflow: clip;
                                font-size: 0;
                            }
                            .range_status{
                                width: 108%;
                            }
                        }
                
                    }
                }
            }
        }
        
    }
}