@import "../color.scss";
header{
    box-sizing: border-box;
    min-width: 320px;
    background-color: $mushroom;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header_s1{
        display: flex;
        align-items: center;
        .sub_menu{
            cursor: pointer;
        }
        .logo{
            img{
                width: 100px;
                cursor: pointer;
            }
            
        }
    }
    .search{
        display: flex;
        align-items: center;
        animation: _opacity_ .5s ease-in;
        input[type="text"]{
            padding: 5px;
            width: 320px;
            height: 30px;
            border: 1px solid #bbb;
        }
        input[type="text"]:focus{
            outline: none;
        }
        input[type="button"]{
            height: 30px;
            padding: 5px;
            border: 1px solid #bbb;
            border-left: 0;
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
            color:#eee;
            background-color:$thatch ;
        }
        input[type="button"]:hover{
            background-color: #b38982;   
        }    
    }
    .user_info{
        display: flex;
        align-items: center;
        .alert{
            cursor: pointer;
        }
        .user_profile{
            margin-left: 10px;
            background-color: #eee;
            width: 45px;
            height: 45px;
            border : 1px solid #bbb;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            white-space: nowrap;
            
            font-size: 9px;
            font-weight: bold;
            position: relative;
            .user_profile_main{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                overflow: hidden;
                justify-content: center;
                img{
                    padding :2px;
                    width: 100%;
                    height: 100%;
                   
                }
            }
            .user_profile_detail{
                position: absolute;
                width: 100px;
                height: 100px;
                top : 55px;
                right: 0px;
                z-index: 12;
                background-color: #eee;
                padding: 6px;
                border: 3px solid #bbb;
                &::before{
                    bottom: 100%;
                    left: 40%;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(194, 225, 245, 0);
                    border-bottom-color: #bbb;
                    border-width: 14px;
                    margin-left: 16px;
                }
                &::after{
                    bottom: 100%;
                    left: 40%;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(109, 189, 213, 0);
                    border-bottom-color: #eee;
                    border-width: 10px;
                    margin-left: 20px;
                }
            }
        }   
        ul{
            display: flex;
            list-style: none;
            li{
                a{
                    display: flex;
                    align-items: center;
                    color : #000;
                    font-size: 14px;
                    font-weight: bold;
                    text-decoration: none;
                }
                
                margin: 0 5px;
                cursor: pointer;
            }
        }
    }  
}
@media screen and (max-width: 560px) {
    header{
        .search{
            display: none;     
        }
    }
}
@keyframes _opacity_ {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}