comment{
    display: block;
    min-height: 100px;
    border-top : 1px solid #eee;
    margin: 5px 0;
    padding: 5px;
    position: relative;
    content{
        display: block;
        margin: 10px 0;
        p{
            margin: 0;
        }
    }
    profile{
        display: flex;
        align-items: flex-end;
        font-size: 12px;
        font-weight: bold;
        
        avatar{
            cursor: pointer;
            margin-right: 5px;
            display: flex;
            align-items: center;
            border-radius: 50%;
            justify-content: center;
            width: 35px;
            height: 35px;
            border: 1px solid #bbb;
            background-color: #eee;
            font-size: 9px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-weight: bold;
        }
        info{
            display: flex;
            flex-direction: column;
            c{
                font-size: 10px;
                &:nth-child(2){
                    font-size: 13px;
                    color : #181010;
                }
                small{
                    margin-left: 5px;
                    color : rgba(#181010, 0.68)
                }
            }
        }
        
    }
    controller{
        display: block;
        position: absolute;
        top : 5px;
        right: 5px;
        .btn{
            padding: 2px 5px;
            min-width: 45px;
            margin: 0 2px;
            background-color: #a36508;
            border: 1px solid #eee;
            border-radius: 5px;
            color : #fff;
            font-weight: bold;
            cursor: pointer;
            &:hover{
                background-color: #c47f18;
            }
        }
        .delete{
            background-color: #cf0101;
            &:hover{
                background-color: #e22222;
            }
        }
    }
}
no-comment{
    display: block;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;  
    color : #747474;
}